@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: url('./Londrina Solid.ttf');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: url('./Yellowtail.ttf');
}
