@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('AnnieUseYourTelescope'), url(../fonts/AnnieUseYourTelescope.woff) format('woff');
}
@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Solid'), local('LondrinaSolid-Regular'), url(../fonts/LondrinaSolid-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lovers Quarrel';
  font-style: normal;
  font-weight: 400;
  src: local('Lovers Quarrel'), local('LoversQuarrel-Regular'), url(../fonts/LoversQuarrel-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(../fonts/Yellowtail.woff) format('woff');
}
