body {
	/*background-image: url('../img/graph_paper_large.jpg');*/
 	background-color: #F5F5F5;
}

#notebooknumbers {
     	margin: 0px auto;
	margin-top: 40px;
	/*border: solid 1px rgba(0,0,0,0.05);*/
}

#header {
	margin: 5px;
}

#sidebar {
	text-align: center;	
	margin-top: 75%;
}

#sidebar-attributions {
	margin-top: 50%;
}

.sidebar-content {
	margin: auto;
}

.sidebar-row {
	margin-top: 10px;
}

canvas {
   display: block;
}
